/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.12.2019, 08:01:35
    Author     : JessBenjamin
*/

#idea{
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.5);
    min-height: 1em;
    padding: 1em;
    margin: 1em 0 0 0;
    font-size: 24px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 2em;
}

html{
    font-family: arial;
}

body{
    background-image: url("../img/noiseTexture.png");
    background-color: #99ccff;
}

#pageContent{
    margin: 3em;
    box-shadow: 0 0 16px 4px rgba(0,0,0,0.5);
    padding: 2em;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-left: 1px solid rgba(0,0,0,0.25);
    background-color: rgba(200,200,200,0.7);
    border-radius: 2em;
}

button{
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 2em;
    padding: 0.5em 1em;
    margin: 1em 0 1em 0;
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    outline: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

button:hover{
    transform: translateY(2px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    outline: none;
}

button:active{
    box-shadow: inset 0 4px 4px 0 rgba(0,0,0,0.5);
    outline: none;
}